pipeline/container_pipeline.json
{
	"name": "container_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Send Notification to MSTeams",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Call failing pipeline",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().parameters.webhook_url",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "@concat('{\n    \"','@','type\": \"MessageCard\",\n    \"','@','context\": \"https://schema.org/extensions\",\n    \"summary\": \"ADF Notification\",\n    \"themeColor\": \"eb3434\",\n    \"title\": \"Azure DataFactory notification alert!\",\n    \"sections\": [\n        {\n            \"activityTitle\": \"Pipeline failed\",\n            \"activitySubtitle\": \"UTC: ', utcnow() ,'\",\n            \"activityImage\": \"https://azurebloggingresources.blob.core.windows.net/images/error-red-cross.png\",\n            \"facts\": [\n                {\n                    \"name\": \"Data Factory:\",\n                    \"value\": \"**', pipeline().DataFactory,'**\"\n                },\n                {\n                    \"name\": \"Pipeline\",\n                    \"value\": \"**',pipeline().Pipeline,'**\"\n                },\n                {\n                    \"name\": \"Run ID\",\n                    \"value\": \"**',pipeline().RunId,'**\"\n                }\n            ],\n            \"text\": \"Error in inner pipeline: ',activity('Call failing pipeline').output.pipelineName,'\"\n        }\n    ],\n    \"potentialAction\": [\n        {\n            \"@type\": \"OpenUri\",\n            \"name\": \"Go to Pipeline Run\",\n            \"targets\": [\n                {\n                    \"os\": \"default\",\n                    \"uri\": \"https://adf.azure.com\"\n                }\n            ]\n        }\n    ]\n}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Call failing pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "failing-pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"webhook_url": {
				"type": "string"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}